section{
    height: 100vh;
    background: linear-gradient(rgba(0, 250, 154, 0.1), rgba(0, 250, 154, 0.8));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    margin-top: 130px;
    box-shadow: 0px 0px 10px;
}
.title-text {
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -23px;
    left: 30px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}